{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-10">
            <div class="card" style="margin-top: 10px;">
                <div class="card-header">Introduction</div>
                <div class="card-body">
                    <p class="card-text">
                        This app allows you to segment muscle and fat tissue in CT images taken at the
                        L3 vertebral level.
                    </p>
                    <p>Please select one of the following links:</p>
                    <ul>
                        <li><a href="/segmentation/datasets/">Datasets</a></li>
                        <li><a href="/segmentation/results/">Results</a></li>
                        <li><a href="/segmentation/models/">Models</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
